{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/background.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'base' %}">Главная <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>О нас <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread">О нас</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters mb-5">
                            <div class="col-md-12">
                                <div class="w-100 p-md-5 p-4" style="color: #000;">
                                    <p>Команда «КаменьХолл» работает для того, чтобы Вы могли создать в доме
                                        атмосферу
                                        уюта и гармонии. Наши цены доступны любому. Даже за небольшие деньги, Вы
                                        сможете
                                        придать жилищу изысканность и индивидуальность.
                                    </p>
                                    <p>Наши специалисты обладают большим опытом работы на всех этапах производства
                                        ремонта. От создания дизайн–проекта, до выполнения монтажных и
                                        облицовочных
                                        работ.
                                    </p>
                                    <p>
                                        Мы гарантируем индивидуальный подход к каждому человеку и к каждому объекту.
                                        Звоните, пишите! Будем рады Вам помочь.
                                    </p>

                                    <div class="row mt-5">
                                        <div class="col-md-6">
                                            <a href="{% url 'projects' %}">
                                                <div class="dbox w-100 text-center">
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <span class="fa fa-th"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Наши работы</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'contact' %}">
                                                <div class="dbox w-100 text-center">
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <span class="fa fa-phone"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Связаться с нами</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}