{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/background.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'base' %}">Главная <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Контакты <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread">Контакты</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters mb-5">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Напишите нам</h3>
                                    <form action="{% url 'contact' %}" method="post" id="contactForm" name="contactForm"
                                          class="contactForm">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Имя</label>
                                                    {{ form.sender_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="contactInformation">Как с вами
                                                        связаться</label>
                                                    {{ form.sender_contact_information }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="subject">Тема</label>
                                                    {{ form.feedback_subject }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="#">Сообщение</label>
                                                    {{ form.feedback_text }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Отправить" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div style="height: 100%;">
                                    <div style="position:relative;overflow:hidden; height: 100%;"><a
                                            href="https://yandex.ru/maps/org/kamenkholl/74847031795/?utm_medium=mapframe&amp;utm_source=maps"
                                            style="color:#eee;font-size:12px;position:absolute;top:0px;">КаменьХолл</a><a
                                            href="https://yandex.ru/maps/11309/krasnoyarsk-krai/category/stone_articles_and_fixtures/?utm_medium=mapframe&amp;utm_source=maps"
                                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Изделия из
                                        камня в
                                        Красноярском крае</a>
                                        <iframe src="https://yandex.ru/map-widget/v1/-/C0XnmCKT" allowfullscreen="true"
                                                style="position:relative; height: 100%;min-height: 400px;" width="510" height="400"
                                                frameborder="1"></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Адрес склада:</span> Красноярский край, Берёзовский район, с. Есаулово,
                                            ул. Туполева, д.1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Телефон:</span> <a href="tel://79233661251">+7 923 366 12 51</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Email:</span> <a
                                                href="mailto:info@yoursite.com">admin@каменьхолл.рф</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Сайт:</span> <a href="{% url 'base' %}">каменьхолл.рф</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
