<div class="col-md-4 ftco-animate">
    <div class="work img d-flex align-items-end"
         style="background-image: url({{ post.image.url }});">

        <a href="{{ post.image.url }}"
           class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
        </a>
        <button type="button" class="btn btn-primary ml-2" style="z-index: 1" data-toggle="modal"
                data-target="#exampleModal-{{ post.pk }}">
            <span class="icon-info"></span>
        </button>


        <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
                <span>{{ post.title }}</span>
                <h2><a href="work-single.html">{{ post.short_description }}</a></h2>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="exampleModal-{{ post.pk }}" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="z-index: 1;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Дополнительная информация</h5>
                <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="">
                </div>

                {% for image in post.postimage_set.all %}
                    <div class="row justify-content-center mt-3">
                        <img src="{{ image.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
                <br>

                <div class="row justify-content-center mt-3">{{ post.get_content_as_markdown }}</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>