{% extends 'administration_base.html' %}

{% block form %}
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Дата создания</th>
                <th scope="col">Название</th>
                <th scope="col">Изображение</th>
                <th scope="col">На главной странице?</th>
                <th scope="col">Короткое описание</th>
                <th scope="col">Изменить?</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.created_at }}.</td>
                    <td>{{ post.title }}.</td>
                    <td class="w-25"><img src="{{ post.image.url }}" class="img-fluid"></td>
                    <td>{% if post.is_on_main_page %}Да{% else %}Нет{% endif %} .</td>
                    <td>{{ post.short_description }}.</td>
                    <td>

                        {% block inner_form %}
                            <form action="{% url 'administration_edit_specific_post' pk=post.pk %}" method="get">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Изменить">
                            </form>
                        {% endblock %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}