{% extends 'administration_base.html' %}


{% block form %}
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Фотография</th>
                <th scope="col">Пост к которой она принадлежит</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td><img class="img img-fluid" src="{{ image.image.url }}" alt="">.</td>
                    <td>{{ image.post }}.</td>
                    <td>
                        <form action="{% url 'administration_edit_image' pk=image.pk %}" method="get">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Редактировать">
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'administration_delete_image' pk=image.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Удалить">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}